FROM php:{{ .PHPVersion }}-fpm

ARG USERNAME
ARG UID
ARG GID

# Install system dependencies
RUN apt-get update && apt-get install -y \
    libzip-dev zip unzip libpng-dev libjpeg-dev libfreetype6-dev \
    libonig-dev libxml2-dev libcurl4-openssl-dev \
    libicu-dev
RUN docker-php-ext-install pdo pdo_mysql zip mbstring gd opcache

RUN docker-php-ext-install bcmath exif gd intl mysqli

RUN set -eux; \
	docker-php-ext-enable opcache; \
	{ \
		echo 'opcache.memory_consumption=128'; \
		echo 'opcache.interned_strings_buffer=8'; \
		echo 'opcache.max_accelerated_files=4000'; \
		echo 'opcache.revalidate_freq=2'; \
	} > /usr/local/etc/php/conf.d/opcache-recommended.ini
# https://wordpress.org/support/article/editing-wp-config-php/#configure-error-logging

RUN { \
# https://www.php.net/manual/en/errorfunc.constants.php
# https://github.com/docker-library/wordpress/issues/420#issuecomment-517839670
		echo 'error_reporting = E_ERROR | E_WARNING | E_PARSE | E_CORE_ERROR | E_CORE_WARNING | E_COMPILE_ERROR | E_COMPILE_WARNING | E_RECOVERABLE_ERROR'; \
		echo 'display_errors = Off'; \
		echo 'display_startup_errors = Off'; \
		echo 'log_errors = On'; \
		echo 'error_log = /dev/stderr'; \
		echo 'log_errors_max_len = 1024'; \
		echo 'ignore_repeated_errors = On'; \
		echo 'ignore_repeated_source = Off'; \
		echo 'html_errors = Off'; \
	} > /usr/local/etc/php/conf.d/error-logging.ini

# Set working directory inside the container
WORKDIR /var/www/html

# Security best practices
# RUN useradd -u 1000 -M -s /usr/sbin/nologin www-data

# Clean up after install
RUN apt-get clean && rm -rf /var/lib/apt/lists/*

# Make sure that we create a username & group that matches the host.
RUN groupadd -g ${GID} ${USERNAME} \
 && useradd -u ${UID} -g ${GID} -M -s /usr/sbin/nologin ${USERNAME}

RUN sed -i "s/^user = .*/user = ${USERNAME}/" /usr/local/etc/php-fpm.conf && \
    sed -i "s/^group = .*/group = ${USERNAME}/" /usr/local/etc/php-fpm.conf && \

# Expose FPM port
EXPOSE 9000

# Use a non-root user (optional if volumes are already root-owned)
USER ${USERNAME}

